# Dependency directories
node_modules/
dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cypress
cypress/videos/
cypress/screenshots/

# Editor stuff
.idea/
.vscode/
.DS_Store
