spring:
  application:
    name: regenwormen
  profiles:
    default: dev

  datasource:
    url: jdbc:h2:mem:regenwormen_db
    driverClassName: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080
