spring:
  application:
    name: regenwormen

  datasource:
    url: jdbc:h2:mem:regenwormen_db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  flyway:
    enabled: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080
